/* https://xd.adobe.com/spec/cb9c126e-3af6-4d8b-6a5d-4988e89ec559-bdad/ */

* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    /* centering card to the screen */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 800px;
    /* margin: 0 auto; */
    background: #111d4a;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.card-content {
    padding: 1.5em;
}

.card-img{
    object-fit: cover;
    flex-basis: 200px; /* length of image in the main axis */
    min-width: 0; /* when setting flex-basis to images  */
    min-height: 0;
}   

.card-title, 
.card-read-time,
.card-btn {
    font-family: 'Blinker', sans-serif;
}

.card-title {
    color: #05cbe9;
    font-size: 1.75rem;
    margin: 0;
}

.card-body {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    opacity: .8;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}

.card-read-time{
    margin: 0;
    opacity: .6;
    line-height: 1.2;
}

.card-read-time span {
    display: block;
    font-size: 1.25em; /* size relative to the parent element */
    font-weight: 700;
}

.card-btn {
    font-size: 1.25rem;
    background: #05cbe9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    padding: 0.35em 1em;
    letter-spacing: 1px;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }

    .card-img {
        height: 300px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 2.2rem;
        line-height: 1.2;
    }
    
    .card-body {
        font-size: 1.125rem;
        max-width: 500px;
    }

    .card-footer {
        margin-top: auto;
    }
}